<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="page-header">
  			<h1>Add Product</h1>
  		</div>
  	</div>
		<div class="col-lg-8 col-lg-offset-2"><br></div>
  </div>
  <div class="row">
  	<div class="col-lg-8 col-lg-offset-2">
	    <form>
	    	<fieldset class="well">
		    	<div class="form-group">
				    <label for="product-name">Product Name</label>
				    <input type="text" class="form-control" id="product-name" ngControl="productName" #productName="ngForm" (change)="log(productName)">
				  </div>
		    	<div class="form-group">
				    <label for="short-description">Short description</label>
				    <input type="text" class="form-control" id="short-description">
				  </div>
		    	<div class="form-group">
				    <label for="short-description">Product price</label>
					  <div class="input-group">
						  <span class="input-group-addon">INR</span>
						  <input type="text" class="form-control" aria-label="Amount (to the nearest INR)">
						</div>
					</div>
		    	<div class="form-group">
				    <label for="short-description">Product thumbnail</label>
				    <input type="file" class="form-control" id="short-description">
				  </div>
				</fieldset>
	    	<div class="form-group text-right">
			  	<br>
			  	<button type="reset" class="btn btn-default btn-lg">Reset</button>
			  	<button type="submit" class="btn btn-success btn-lg">Submit</button>
			  </div>
	    </form>
	  </div>
	</div>
</div>
